@mixin padding($value) {
  padding: $value;
}
@mixin padding-y($value) {
  padding-bottom: $value;
  padding-top: $value;
}
@mixin padding-x($value) {
  padding-left: $value;
  padding-right: $value;
}
@mixin padding-top($value) {
  padding-top: $value;
}
@mixin padding-right($value) {
  padding-right: $value;
}
@mixin padding-bottom($value) {
  padding-bottom: $value;
}
@mixin padding-left($value) {
  padding-left: $value;
}
