@mixin placeholder($color: $font-placeholder-color) {
  &::-moz-placeholder {
    opacity: 1;
  }

  &::placeholder {
    color: $color;
  }

  &:placeholder-shown {
    text-overflow: ellipsis;
  }
}
